<template>
  <div id="app">
    <div class="login">
      <el-card id="box-card">
        <h2 style="text-align: center">Account Login</h2>
          <el-form
          class="login-form"
          :model="model"
          :rules="rules"
          ref="form"
          @submit.native.prevent="login"
          >
            <el-form-item prop="username">
              <el-input maxlength="16" v-model="model.username" placeholder="Username" prefix-icon="fas fa-user"></el-input>
            </el-form-item>

            <el-form-item prop="password">
              <el-input
                maxlength="16"
                v-model="model.password"
                placeholder="Password"
                type="password"
                prefix-icon="fas fa-lock"
              ></el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                class="login-button"
                type="primary"
                native-type="submit"
                block
              >Login</el-button>
          </el-form-item>
          </el-form>
      </el-card>
    </div>
  </div>
</template>


<script>
import notesapi from "../notesapi"
import { postTokenAuth } from "../utils/urls"

export default {
  data() {
    return {
      model: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          {
            required: true,
            message: "Username is required",
            trigger: "blur"
          },
          {
            min: 4,
            message: "Username length should be at least 4 characters",
            trigger: "blur"
          }
        ],
        password: [
          { 
            required: true, 
            message: "Password is required", 
            trigger: "blur" 
          },
          {
            min: 4,
            message: "Password length should be at least 4 characters",
            trigger: "blur"
          }
        ]
      }
    };
  },

  methods: {
    // Validate then trigger login
    async login() {
        let valid = await this.$refs.form.validate();
        if (!valid) {
            return;
        }
        await this.simulateLogin();
    },

    // Perform login request
    async simulateLogin() {
        const headers = { "Content-Type": "application/json" }
        const data = { username: this.model.username, password: this.model.password }
        try {
            const response = await notesapi.post(postTokenAuth, data, {headers: headers})
            this.$message.success("Login successful");
            this.$store.commit("updateData", response.data)
            this.$router.push("/");
        }
        catch (error) {
          this.$message.error(error.response.data.non_field_errors[0]);
        }
    }
  }
}
</script>

<style scoped>  
  #app {
    font-family: Poppins-Thin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  body {
    margin: 0;
    padding: 0;
  }
  h2 {
    letter-spacing: 1px;
    font-family: Poppins-Thin;
    padding: 35px;
    color: black;
  }

  .top-left-fixed {
      position: fixed;
      left: 0;
      top: 0;
  }
  .login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    width: 100%;
    margin-top: 40px;
    background: rgba(61, 0, 159, 0.797);
    border-color: rgba(61, 0, 159, 0.797);
  }

  .login-button:hover{
      background: rgb(61, 0, 159);
      border-color: rgb(61, 0, 159);
  }

  .login .el-card {
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
  }
</style>