<template>
  <el-container>
    <el-header>
      <el-input style="margin-bottom: 10px; margin-top: 10px" placeholder="Filter expanded notes" v-model="filterText"> </el-input>
      <el-tree
        :data="notes"
        :props="defaultProps"
        :filter-node-method="filterNode"
        :load="loadNode"
        :default-expanded-keys="nodesToExpand"
        @node-click="handleNodeClick"
        :expand-on-click-node="false"
        @node-expand="onExpand"
        lazy
        highlight-current
        class="tree"
        node-key="id"
        ref="tree"
      >
        <div slot-scope="{ node, data }" v-on:dblclick="handleNodeDoubleClick(node)" class="label-row outer">
          <div v-for="attachment in data.attachments" :key="attachment.id">
            <a v-if="isMobileOnly" :href="url + attachment.id + '/' " target="_blank">
              <el-image class="preview-image" :src="url + attachment.id + '/' " />
            </a>
            <el-image v-else class="preview-image" :src="url + attachment.id + '/' " />
          </div>
          <p class="inner" v-if="data.is_footnote" style="color: grey; font-size: 14px"> {{ node.label }} </p>
          <p class="inner" v-else-if="node.isLeaf"  style="padding: 7px 0px;"> {{ node.label }} </p>
          <p class="inner" v-else> {{ node.label }} </p>
        </div>
      </el-tree>
       <div class="window-container" v-if="!closeWindow">
         <vue-draggable-resizable active class-name="draggable-resizable" :handles="['tl','bl','tr','br']" :h="400" :w="450">
           <el-button class="close-button" @click="closeWindow = true"> <i class="el-icon-close" style="font-size: 20px" /> </el-button>
           <div class="window" style="overflow: auto" >
             <div v-for="attachment in viewedNode.attachments" :key="attachment.id">
               <a :href="url + attachment.id + '/' " target="_blank">
                 <el-image class="image-display" :src="url + attachment.id + '/' " />
               </a>
             </div>
           </div>
         </vue-draggable-resizable>
       </div>
    </el-header>
    <el-footer class="bottom-right">
      <el-button @click="drawer=true" plain icon="el-icon-search"> Search </el-button>
      <el-drawer
        size="100%"
        :style="isMobileOnly ? 'margin-left: 0%':'margin-left: 65%'"
        title="Search Notes Tree"
        :visible.sync="drawer"
        :modal="false"
        :show-close="true"
        :wrapperClosable="false"
        :with-header="true">
          <SearchNotes :id="id" :drawer="drawer" />
      </el-drawer>
    </el-footer>
<!--    <el-footer class="tree-fixed-footer">-->
<!--      <el-row class="tree-buttons" :gutter="20">-->
<!--        <el-tooltip effect="light" class="info-tooltip" :content="expandMoreMsg" placement="top">-->
<!--          <el-button -->
<!--              size="small" type="primary"-->
<!--              class="expand-more-button button-primary-full" -->
<!--              v-on:click="expandHighlightedNode"-->
<!--            >Expand highlighted node</el-button>-->
<!--        </el-tooltip>-->
<!--        <el-tooltip effect="light" class="warn-tooltip" :content="expandAllMsg" placement="top">-->
<!--          <el-button -->
<!--            size="small" type="primary" plain-->
<!--            class="expand-all-button button-primary-full" -->
<!--            v-on:click="expandAllNodes"-->
<!--          >Expand all nodes</el-button>-->
<!--        </el-tooltip>-->
<!--      </el-row>-->
<!--    </el-footer>-->
  </el-container>
</template>

<script>
import axios from 'axios';
import { isMobileOnly } from 'mobile-device-detect';
import {getAttachmentsURL, getNotesURL} from '../utils/urls'
import SearchNotes from './SearchNotes'
import notesapi from "../notesapi";
export default {
  name: "NotesDetail",
  components: {SearchNotes},
  props: {id: {required: true}
  },
  data() {
    return {
      notes: [],
      nodesToExpand: [],
      parentNodeKeys: [],
      subTreeToExpand: [],
      viewedNode: {},
      filterText: "",
      isMobileOnly: isMobileOnly,
      cancelRequests: "",  // Used to cancel nested calls
      triggeredByWatcher: false,
      closeWindow: true,
      url: getAttachmentsURL,
      drawer: false,
      expandMoreMsg: "Only expands highlighted nodes if never expanded before.",
      expandAllMsg: "Only expands root node if never expanded before. Caution: expanding large amounts of data will slow down the web page!",
      defaultProps: {
        key: "id",
        label: "body",
        is_footnote: false,
        isLeaf: "is_leaf",
        has_image: "has_image",
        attachments: "attachments"
      },
    };
  },

  beforeDestroy() {
    this.cancelRequests.cancel()
  },

  async mounted(){
    this.cancelRequests = axios.CancelToken.source() // Register cancel token
    const response = await this.fetchParentNodes(`?notebook_id=${this.id}`)
    this.notes = response.data
  },

  watch: {
    filterText(val){
      if (this.timeout) clearTimeout(this.timeout); 
      this.timeout = setTimeout(() => {
        this.$refs.tree.filter(val);
      }, 500);
    },
    subTreeToExpand() {
      this.subTreeToExpand.forEach(el => { 
        if (!el.is_leaf) this.nodesToExpand.push(el.id)
      });
    }
  },

  methods: { 
    async fetchParentNodes(param=''){
      return await notesapi.get(getNotesURL+param, {cancelToken: this.cancelRequests.token});
    },

    async getChildrenNodes(id) {
      return await notesapi.get(getNotesURL + id + '/', {cancelToken: this.cancelRequests.token});
    },

    // Filters node by given 'value'
    filterNode(keyword, data) {
      if (!keyword) return true;
      if (data.body !== null) {
        const lower_data = data.body.toLowerCase();
        return lower_data.indexOf(keyword.toLowerCase()) !== -1;
      }
    },

    // Triggers on parent node click or on "nodesToExpand" change
    async loadNode(node, resolve) {
      if (node.isLeaf) return

      if (node.data.id){
        const response = await this.getChildrenNodes(node.data.id);
        if (this.triggeredByWatcher){
          this.subTreeToExpand = response.data
        }
        this.nodesToExpand = [] // Keep array small by resetting after node expansion
        return resolve(response.data);
      }
    },

    expandAllNodes(){
      this.subTreeToExpand = this.notes
      this.triggeredByWatcher = true
    },

    // Toggles flag to open Window
    handleNodeClick(clicked_node){
      // Don't show window in Mobile Only
      if (clicked_node.has_image && this.isMobileOnly){
        return
      }
      if (clicked_node.has_image){
        this.viewedNode = clicked_node
        this.closeWindow = false
      }
      return clicked_node
    },

    // Disable watcher when arrow is clicked to prevent entire tree expansion
    onExpand(){
      this.triggeredByWatcher = false
    },

    // Expands double clicked Node
    handleNodeDoubleClick(node){
      if (node.isLeaf) return

      if (node.expanded) node.expanded = false;
      else {
        // Disable watcher when arrow is clicked to prevent entire tree expansion
        this.triggeredByWatcher = false 
        this.nodesToExpand.push(node.data)
      }
    },

    expandHighlightedNode(){
      const data = this.$refs.tree.getCurrentNode();
      if (!data || data.is_leaf) return

      this.subTreeToExpand.push(data)
      this.triggeredByWatcher = true
    }
  }
};
</script>

<style lang="scss">
  .el-input__inner:focus{
    border-color: rgba(61, 0, 159, 0.797);
  }

  .el-drawer__wrapper{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  }

  .el-drawer-fade-enter-active{
    box-shadow: none;
  }

  .el-drawer-fade-leave-active{
    box-shadow: none;
  }

  .el-drawer__header{
    margin-bottom: 18px;
    color: black;
  }

  .el-drawer__body{
    padding-right: 8px;
  }

  :focus{
    outline:0;
  }

  .el-drawer{
    width: 100%;
    overflow-y: auto;
  }

  .el-tooltip__popper.is-light{
    border: 1px solid #c7841e;
    color: #c7841e;
  }
  .popper__arrow{border-color: #c7841e;}
  .el-tooltip__popper.is-light[x-placement^=top] .popper__arrow{border-top-color: #c7841e;}
  
  .el-tree__empty-text{position: fixed;}
  .el-tree-node__content{height: auto}
  .label-row p{margin-block-start: 0;margin-block-end: 0;}
  .el-tree-node__expand-icon{color: black;}
  .el-icon-close{
    padding: 5px;
  }
</style>

<style scoped>
  .tree{color: black; }

  .label-row{
    position:relative;
    width:100%;
    overflow-y: hidden;
  }

  .outer {overflow: hidden;}

  .inner {overflow: auto; white-space: pre-line;}

  .draggable-resizable{
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.06);
    border: none;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2);
  }

  .window-container{
    z-index: 1;
    height: 400px;
    width: 450px;
    position: fixed;
    right: 3%;
    bottom: 5%;
  }

  .window{
    background: white;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
  }

  .preview-image{
    position: relative;
    left: 0;
    width: 40px;
  }

  .close-button{
    position: absolute;
    z-index: 10;
    border-radius: 0;
    border: none;
    background: rgba(0,0,0,0.04);
    padding: 0;
    text-align: left;
  }

  .close-button:hover{
    background: rgba(0,0,0,0.1);
  }

  .image-display{
    display: flex;
    align-items: center;
    margin: 30px;
  }

  .el-container{
    margin-top: 5px;
  }

  .tree-fixed-footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .bottom-right{
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .tree-buttons{
    padding: 15px;
  }

  .expand-more-button{
    position: absolute;
    right: 150px;
  }

  .expand-all-button{
    position: absolute;
    right: 20px;
  }

  i {
    color: rgb(1, 1, 126);
  }

  .el-button.is-plain{
    color: rgba(61, 0, 159, 0.797);
    border-color: rgba(61, 0, 159, 0.797);
  }

  .el-button.is-plain:focus, .el-button.is-plain:hover{
    background: rgba(61, 0, 159, 0.797);
    color: white;
  }

  .button-primary-full{
    background: rgba(61, 0, 159, 0.797);
    border-color: rgba(61, 0, 159, 0.797);
  }
  .button-primary-full:hover{
    background: rgba(61, 0, 159, 0.740);
  }

  .el-button--primary.is-plain{
    background: none;
    color: rgba(61, 0, 159, 0.797);
    border-color: rgba(61, 0, 159, 0.797);
  }

  .el-button--primary.is-plain:hover{
    background: rgba(61, 0, 159, 0.797);
    border-color: rgba(61, 0, 159, 0.797);
    color: white;
  }
</style>