<template>
    <div>
        <div class="centered">
            <el-input v-loading="loading"
             placeholder="Search note location" v-model="findText" @keyup.enter.native="fetchTextTree">
                <el-button size="small" type="primary" slot="append" icon="el-icon-search" @click="fetchTextTree"></el-button>
            </el-input>
        </div>
        <el-checkbox style="margin-left: 3.5%;" v-model="checked">Case sensitive filter</el-checkbox>
        <span v-if="!notesSubTree" class="empty-text"> No data </span>
        <ul v-for="note in notesSubTree" :key="note.id" style="font-size: 13px;">
            <div class="data-row">
                <li v-if="note.body.toLowerCase().includes(textToHighlight.toLowerCase())"
                    :style="'margin-left:'+note.level+'em; color: #B8860B'"> {{note.body}}
                </li>
                <li v-else :style="'margin-left:'+note.level+'em'"> {{note.body}} </li>
            </div>
        </ul>
    </div>
</template>

<script>
import {getNotesURL} from '../utils/urls'
import notesapi from "../notesapi";
export default {
    props: ["id"],
    data(){
        return {
            findText: "",
            notesSubTree: "",
            textToHighlight: "",
            checked: false,
            loading: false
        }
    },
    methods: {
        async fetchTextTree(){
            if (!this.findText) {return}
            
            try {
                this.loading = true
                let resp = null
                if (this.checked)
                    resp = await notesapi.get(getNotesURL + '?notebook_id=' + this.id + '&filter_keyword=' + this.findText
                                                    + '&exact_filter=true', {timeout: 3000});
                else
                    resp = await notesapi.get(getNotesURL + '?notebook_id=' + this.id + '&filter_keyword=' + this.findText,
                  {timeout: 3000});

                if (Array.isArray(resp.data) && resp.data.length === 0) this.notesSubTree = ""
                else this.notesSubTree = resp.data; this.textToHighlight = this.findText;
            } catch (error){
                console.error(error)
                if (error.response) this.$message.error(error.response)
                this.$message.error("Request took too long, please narrow down search term!")
            }
            this.loading = false
        }
    }
}
</script>

<style>
    .el-loading-spinner .circular{
        width: 25px;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: rgba(61, 0, 159, 0.797);
    }
    .el-checkbox__inner:hover, .el-checkbox__input:hover{
      border-color: rgba(61, 0, 159, 0.797);
    }
    .el-checkbox__input.is-focus .el-checkbox__inner{
      border-color: rgba(61, 0, 159, 0.797);
    }
    .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
      background-color: rgba(61, 0, 159, 0.797);
      border-color: rgba(61, 0, 159, 0.797);
    }
</style>

<style scoped>
    .el-input{
        margin-bottom: 10px; 
        margin-top: 10px;
        width: 93%;
    }
    .centered{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .data-row{
        position: relative;
    }

    .empty-text{
        display: block; text-align: center; padding: 50px;
    }
</style>