<template>
    <el-menu class="nav-menu" mode="horizontal" @select="handleSelectNavigation">
    <el-menu-item index="/">Nota</el-menu-item>
    <el-menu-item v-if="!isLoggedIn" index="/login" style="float: right;"> Login </el-menu-item>
    <el-menu-item v-else index="welcome" style="float: right;">
      <el-dropdown trigger="click" @command="handleLogoutCommand">
        <span class="el-dropdown-link">
          {{`${username}`}} <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown" class="logout-menu">
          <el-dropdown-item command="logout" class="logout-dd-item">Logout</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-menu-item>
    </el-menu>
</template>

<script>
  import { mapState } from 'vuex';
  export default {
    data(){
      return {
        notebooks: []
      }
    },
    computed: mapState([
      'username', 'isLoggedIn'
    ]),
    methods: {
      async handleSelectNavigation(key){
        if (key === "welcome")
          return
        
        if (this.$route.path !== key)
          this.$router.push(key)
        
        if (key === "/"){
          this.$store.dispatch('fetchNotebooks')
        }
      },
      handleLogoutCommand(command){
        if (command !== "logout")
          return
        this.$store.commit('resetData')
      },
    }
  }
</script>

<style scoped>
.nav-menu{
    border-bottom: 0;
    background: rgba(61, 0, 159, 0.797);
    border-bottom: 2px solid white;
}

.el-menu--horizontal > .el-menu-item:hover, .el-menu-item:focus, .el-menu-item:hover{
    background: none !important;
    color: white !important;
}

.el-menu--horizontal > .el-menu-item:hover{
    color: black;
    border-bottom: 2px solid white !important;
}

.el-menu--horizontal > .el-menu-item.is-active{
    border-bottom: 2px solid white;
    color: white;
}

.el-menu--horizontal>.el-menu-item{
    color: white;
}

.el-dropdown-link {
  cursor: pointer;
  color: white;
}
.el-icon-arrow-down {
  font-size: 14px !important;
}

.logout-menu{
  background: rgba(61, 0, 159, 0.797);
}

.logout-menu:hover{
  background:rgba(61, 0, 159, 0.7) !important;
}

.logout-dd-item{
  color: white;
  background: none !important;
}

.logout-dd-item:hover{
  color: rgba(61, 0, 159, 0.797) !important;
  color: white !important;
}

.el-dropdown-menu{
  border: 2px solid rgba(61, 0, 159, 0.797) !important;
}
</style>

<style>
.el-popper[x-placement^="bottom"] .popper__arrow::after{
  border-bottom-color: rgba(61, 0, 159, 0.797) !important;
}

.el-popper[x-placement^=bottom] .popper__arrow{
  top: -7px !important;
}
</style>