<template>
    <div class="not-found">
        <h1 class="center" > Not Found </h1>
        <p>Oops we couldn't find that page. Try going <a href="/"> home </a> </p>
    </div>
</template>

<style>
.not-found{
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    font-size: 15px;
}
.center{
    text-align: center;
}
</style>