<template>
    <div id="app">
        <el-row style="margin: 3%;">
            <p style="font-size: 2em; margin: 15px;">Welcome to Nota</p>
            <span style="font-size: 18px">An interactive Web App hosting Surgical Notes. <br>
            Nota parses Dynamic HTML files exported from .opml files and displays them in tree structure.</span>
        </el-row>
        <el-tabs style="margin: 0 30px" v-model="activeLink" @tab-click="handleClick" v-loading="isLoadingNotebooks">
            <el-tab-pane label="Home" name="/">
                <el-row style="margin: 10px;">
                    Click on a NoteBook and explore!
                </el-row>
                <NotebookList />
            </el-tab-pane>
            <el-tab-pane label="Upload" name="upload" v-if="isLoggedIn">
                <el-row style="margin: 10px;">
                    Import a new NoteBook.
                </el-row>
                <Upload />
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Upload from './tabs/Upload'
import NotebookList from './tabs/NotebookList'
export default {
    name: "Home",
    components: {Upload, NotebookList},
    props: ['navigatetoNote'],
    computed: mapState([
      'isLoggedIn', 'isLoadingNotebooks'
    ]),
    data() {
      return {
        activeLink: "/",
      };
    },
    mounted: function(){
        this.activeLink = this.$route.name;
    },
    watch: {
        $route (to) {
            this.activeLink = to.name;
        }
    },
    methods: {
        handleClick(tab){
            if (this.$route.name !== tab.name) this.$router.push({name: tab.name})

            // Refresh on 'Home' tab click
            if (tab.name === "/") this.$store.dispatch('fetchNotebooks')
        }
    }
}
</script>

<style>
    .el-tabs__item.is-active{
        color: rgba(61, 0, 159, 0.797);
    }

    .el-tabs__active-bar{
        background-color: rgba(61, 0, 159, 0.797);
    }

    .el-tabs__item:hover{
        color: rgba(61, 0, 159, 0.797);
    }
</style>

<style scoped>
    #app{
        margin-top: 10px;
    }
    
    .el-row{

        text-align: center;
        align-items: center;
        justify-content: center;
    }
</style>