<template>
  <div>
    <el-button class="edit-button plain-button" size="small" plain v-if="!editable && isLoggedIn" @click="editable=true"> Edit Grid </el-button>
    <el-button class="cancel-button plain-button" size="small" plain v-if="editable && isLoggedIn" @click="cancelGridPositions"> Cancel </el-button>
    <el-button class="save-button" size="small" primary v-if="editable && isLoggedIn" @click="saveGridPositions"> Save </el-button>
    <grid
      ref="grid"
      center
      :draggable="editable"
      :sortable="editable"
      :items="notebooks"
      :cell-height="200"
      :cell-width="280"
      @sort="handleSort"
      :style="editable && isLoggedIn ? 'border: 1px dashed rgba(61, 0, 159, 0.797); width: 99.5%':'width: 99.5%'"
      >
      <template slot="cell" scope="datum">
         <el-button class="card-button" type="plain" :disabled="editable" @click="$router.push({name: 'notes', params: {id: datum.item.id}})">
            <el-card class="text item note-card">
                <div slot="header">
                    <span class="card-title"> {{datum.item.name}} </span>
                </div>
                <div v-for="(note) in datum.item.notes" :key="note.id" >
                  <li v-if="note.body" class="preview">
                    <span> {{note.body}} </span>
                  </li>
                </div>
                <div class="bottom">
                    <span class="time">{{ datum.item.created_at }}</span>
                </div>
                <el-button icon="el-icon-delete" class="bottom-right plain-button" size="mini" :disabled="editable"
                  v-if="isLoggedIn" v-on:click.stop @click="promptDeleteNotebook(datum.item)" />
            </el-card>
         </el-button>
      </template>
    </grid>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import notesapi from '../../../notesapi';
import {getNoteBooksURL} from '../../../utils/urls';

export default {
    name: "NotebookList",
    computed: mapState([
      'notebooks', 'token', 'isLoggedIn'
    ]),
    data(){
      return {
        editable: false,
        sortedNoteBooks: []
      }
    },
    mounted: async function() {
        this.$store.dispatch('fetchNotebooks')
    },
    methods: {
      promptDeleteNotebook(notebook){
        this.$confirm('This will permanently delete the Notebook. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.deleteNotebook(notebook)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });
        });
      },

      async deleteNotebook(notebook) {
        const headers = { "Content-Type": "application/json", "Authorization": `Token ${this.token}`}
        const response = await notesapi.delete(getNoteBooksURL + notebook.id + '/', {headers: headers})

        if (response.status === 204) this.$message({
          type: 'success',
          message: 'Delete completed'
        });

        // Re-fetch notebooks after delete
        this.$store.dispatch('fetchNotebooks')
      },

      saveGridPositions(){
        this.editable=false
        if (this.sortedNoteBooks.length === 0) return

        // el.sort is the updated grid position defined by vue-js-grid
        this.sortedNoteBooks.forEach(el => {
          el.item.grid_position = el.sort
        })
        const data = this.sortedNoteBooks.map(el => el.item)

        this.$store.dispatch('bulkCreateNotebooks', data)
        this.$message.success({message: "New NoteBook cards positions saved!", showClose: true, duration: 4000})
      },

      // Re-orders sortedNoteBooks to initial positions
      cancelGridPositions(){
        this.editable=false
        if (this.sortedNoteBooks.length === 0) return

        const data = this.sortedNoteBooks.map(el => el.item)
            .sort((t1,t2) => t1.grid_position < t2.grid_position ? -1 : 1)

        this.$store.commit('setNotebookGridPositions', data)
        this.$message.info({message: "NoteBook cards positions unchanged.", showClose: true, duration: 4000})
      },

      handleSort(grid){
        this.sortedNoteBooks = grid.items
      }
    }
}
</script>

<style >
    div.el-card__header{
        padding-top: 0;
    }
    div.el-card__body{
        padding: 10px 20px;
    }
</style>

<style scoped>
    .note-card{
        position: relative;
        height: 140px;
    }

    .preview{
        font-size: 13px;
        color: gray;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5em;
    }

    .card-button{
      position: relative;
      height: 180px;
      width: 200px;
      padding: 0;
      text-align: left;
    }

    .card-button:hover, .card-button:focus{
        border-color: rgba(61, 0, 159, 0.797);
    }

    .card-title{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        height: 20px;
    }

    .text {
        white-space: pre-line;
        font-size: 18px;
    }

    .item {
        padding: 18px 0;
    }

    .time {
        font-size: 13px;
        color: #999;
        position: absolute;
        bottom: 10px;
    }

    .bottom-right{
      position: absolute;
      bottom: 3px;
      right: 10px;
      font-size: 17px;
      border: none;
      background: transparent;
      padding: 7px 7px;
    }

    .bottom-right:hover, .bottom-right:focus{
      background: #f2f2f2;
    }

    .bottom {
        margin-top: 2px;
    }

    .plain-button{
      background: white;
      color: rgba(61, 0, 159, 0.797);
      border-color: rgba(61, 0, 159, 0.797);
    }

    .plain-button:focus, .plain-button:hover{
      color: white;
      color: rgba(61, 0, 159, 0.797);
      border-color: rgba(61, 0, 159, 0.797);
    }

    .save-button{
      margin: 10px 10px;
      color: white;
      border-color: rgba(61, 0, 159, 0.797);
      background: rgba(61, 0, 159, 0.797);;
    }

    .save-button:hover{
      background: rgba(61, 0, 159, 0.697);
    }

    .edit-button{
      margin: 10px 0;
      border-color: rgba(61, 0, 159, 0.797);
    }

    .cancel-button{
      margin: 10px 0;
      border-color: rgba(61, 0, 159, 0.797);
    }

    .cancel-button:hover, .edit-button:hover{
      background: rgba(61, 0, 159, 0.797);
      color: white;
    }

</style>