<template>
    <div id="app">
        <el-upload
            class="upload" drag multiple
            ref="upload"
            :action="processURL"
            :file-list="fileList"
            :headers="{'Authorization': `Token ${token}`}"
            name="filepond"
            :limit="5"
            accept="application/zip"
            :on-exceed="handleExceed"
            :on-remove="removeTmpFile"
            :on-success="updateFileList"
            :on-error="handleErrors">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop files here or <em>click to upload</em></div>
                <div class="el-upload__tip" slot="tip">Accepts a .zip file containing the dynamic HTML folder
                  (exported from .opml). <br> File size must be less than 20MB. </div>
        </el-upload>
        <el-button type="success" @click="submitUpload" :disabled="buttonIsDisabled">Submit</el-button>
    </div>
</template>

<script>
import {fpProcessURL, createNotesURL, fpRevertURL} from '../../../utils/urls'
import notesapi from '../../../notesapi'
import { mapState } from "vuex"
export default {
    name: "Upload",
    data(){
        return{
            processURL: fpProcessURL,
            notesURL: createNotesURL,
            revertURL: fpRevertURL,
            buttonIsDisabled: true,
            fileList: []
        }
    },
    computed: mapState([
      'token'
    ]),
    methods: {
        async submitUpload(){
            const files = this.fileList.map(el => ({"name": el.name, "file": el.response}))

            if (!files) return this.$message.error({message:`Please upload a .zip file first.`, showClose: true});

            const headers = { "Content-Type": "application/json", "Authorization": `Token ${this.token}`}

            for (let index = 0; index < files.length; index++) {
                const info = this.$message({message:`Uploading ${files[index].name}, please don't close this page.`, showClose: true, duration: 0});
                try {
                    this.buttonIsDisabled = true
                    const response = await notesapi.post(this.notesURL, files[index], {headers: headers})
                    info.close()
                    this.$message.success({message: response.data.message, showClose: true, duration: 0});
                    this.fileList.pop()
                } catch (error){
                    info.close()
                    this.$message.error({message:error.response.data.detail, showClose: true, duration: 0})
                    this.buttonIsDisabled = false
                }
            }
        },
        handleExceed(files) {
            this.$message.warning({message:`The limit is 5, you selected ${files.length} files.`, showClose: true, duration:0});
        },
        handleErrors(err) {
            if (err.status >= 400 && err.status < 500)
              this.$message.error({message: JSON.parse(err.message).detail, showClose: true, duration:0});
            else if (err.status >= 500)
              this.$message.error({message: `Error with status ${err.status} has occurred.`, showClose: true, duration:0});
            console.log(err)
        },
        async removeTmpFile(file, fileList){
            const headers = { "Content-Type": "text/plain", "Authorization": `Token ${this.token}`}
            await notesapi.delete(fpRevertURL, { headers: headers, data: file.response })
            
            this.fileList = fileList
            if (this.fileList.length == 0) this.buttonIsDisabled = true
        },
        updateFileList(resp, file, fileList){
            this.fileList = fileList
            this.buttonIsDisabled = false
        }
    }


}
</script>

<style>
    .el-upload-dragger{
        width: 70vw;
    }
</style>

<style scoped>
    #app{
        margin-top: 0;
        display: grid;
        justify-content: center;
    }

    .el-button {
        width: 40%;
        margin: 10px;
        justify-self: center;
    }

    .upload {
        margin: 10px;
        text-align: center;
    }

</style>