<template>
  <div>
    <TheNavbar />
    <transition name="fade">  
      <router-view> </router-view>
    </transition>
  </div>
</template>

<script>
import TheNavbar from './components/TheNavbar'
export default {
  name: "App",
  components: {TheNavbar}
};
</script>

<style>
body {
  margin: 0;
}

.page-header{
  padding: 10px;
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}
</style>
